[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/almeida-cv/"]
	url = git@github.com:DragosDumitrache/almeida-cv.git
[submodule "themes/og-almeida-cv"]
	path = themes/og-almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "themes/resume-a4"]
	path = themes/resume-a4
	url = https://gitlab.com/mertbakir/resume-a4.git
